            body {
                background-color: rgb(26, 2, 2);
                color: rgb(255, 255, 255);
                font-family: Arial, Helvetica, sans-serif;
                margin: 0;
                padding: 0;
            }
            header {
                background-color: rgb(118, 8, 19);
                background-position: center;
                background-size: 100%;
                height: 60px;
                padding: 30px 10px;
                color: rgb(255, 255, 255);
                text-align: center;
            }
            header .uitleg {
                color: rgb(116, 255, 10);
                position: relative;
                top: -70px;
                font-size: 40px;
            }
            header .logo a {
                background-image: url("images/nicolas-logo-png-transparent.png");
                background-size: 300px;
                position: relative;
                top: -130px;
                display: inline-block;
                width: 300px;
                height: 190px;
                text-indent: -9999px;
            }



            section.a {
                background-color: rgba(0, 0, 0, 0.417);
                color: rgb(21, 0, 255);
                text-align: center;
                margin: 70px 0px 15px 160px;
                padding: 0px 0 0px 0;
                display: flex;
                flex-direction: row;
                border-radius: 60px;
                width: 1200px;
            }
            section.a1 hr {
                border: 0;
                height: 2px;
                background-color: rgba(0, 4, 255, 0.947);
                width: 1000px;
                margin-left: 280px;
                box-shadow: 0px 10px 0px rgb(91, 6, 84), 0 20px 0 blue;
                border-radius: 1000000000px;
            }

             section.tussenstop {
                background-color: white;
                color: black;
                margin: 25px 0px;
                padding: 27px;
                display: flex;
                flex-direction: row;
            }
            section.b1{
                color: rgb(9, 34, 135);
                margin: 40px 0 0 0;
                padding: 100px 0 0px 0;
                display: flex;
            }
            section.b2{
                color: rgb(9, 34, 135);
                margin: 0px 0 0 0;
                padding: 0px 0 1000px 0;
                display: flex;
            }
            section.locaties_titel1 {
                padding: 0px 10px;
                margin: 40px 0px 0px 20px;
            }
            section.loca1 {
                background-color: rgb(147, 22, 22);
                border-radius: 15px;
                padding: 10px;
                margin: 0px 20px 10px 20px;
            }
            section.locaties_titel2 {
                padding: 120px 10px 0 0;
                margin: 0px 0px 0px 20px;
            }
            section.loca2 {
                background-color: rgb(22, 147, 141);
                color: rgb(255, 255, 255);
                border-radius: 25px;
                padding: 10px;
                margin: 0px 20px 10px 20px;
                display: flex;
                color: rgb(36, 13, 213);
            }

            section.loca2 .België {
                color: red;
            }
            section.loca2b {
                background-color: rgb(22, 147, 141);
                color: rgb(255, 255, 255);
                border-radius: 25px;
                padding: 10px;
                margin: 0px 20px 10px 20px;
                display: flex;
            }
            section.loca2c {
                background-color: rgb(22, 147, 141);
                color: rgb(255, 255, 255);
                border-radius: 25px;
                padding: 10px;
                margin: 0px 20px 10px 20px;
                display: flex;
            }
            section.loca2d {
                background-color: rgb(22, 147, 141);
                color: rgb(255, 255, 255);
                border-radius: 25px;
                padding: 10px;
                margin: 0px 20px 10px 20px;
                display: flex;
            }
            section.uitleg {
                color: white;
                position: relative;
                top: 140px;
                padding: 50px 50px 0 300px;
            }
            section.picchufotos {
                font-size: 250px;
                font-weight: bolder;
                text-transform: uppercase;
                color: transparent;
            }

            .loca2 figure {
                margin: auto;
                width: 200px;
            }
            .loca2b figure {
                margin: auto;
                width: 200px;
            }
            .loca2c figure {
                margin: auto;
                width: 200px;
            }
            .loca2d figure {
                margin: auto;
                width: 200px;
            }
            .loca2 figure img {
                width: 200px;
                border-radius: 25px;;
            }
             .loca2b figure img {
                width: 200px;
                border-radius: 25px;;
            }
               .loca2c figure img {
                width: 200px;
                border-radius: 25px;;
            }
               .loca2d figure img {
                width: 200px;
                border-radius: 25px;;
            }


            section.locaties_titel3 {
                padding: 80px 10px 0 0;
                margin: 0px 0px 0px 20px;
            }
            section.loca3 {
                background-color: rgb(30, 106, 8);
                border-radius: 15px;
                padding: 10px;
                margin: 0px 20px 50px 20px;
            }


            div.a1 {
                background: rgba(203, 208, 197, 0);
                border-radius: 20px;
                margin:  auto;
                text-transform: uppercase;
                font-size: 230px;
                opacity: calc(50%);
                text-shadow: 3px 3px rgb(140, 0, 0), 6px 6px rgb(12, 6, 213);
                transition: font-size 500ms;
                font-family: 'Courier New', Courier, monospace;
            }
            div.a1:hover {
                font-size: 250px;
                font-weight: bold;
                font-style: italic;
                opacity: calc(100%);
            }

            div.b1 {
                margin: auto;
                text-decoration: none;
                background-image:
                    linear-gradient(90deg, red, blue);
                background-size: 0% 3px;
                background-repeat: no-repeat;
                background-position: left 1.95em;
                padding-block: .35em;
                transition: background-size 500ms;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                line-height: 2;
            }
            div.b2 {
                margin: auto;
                text-decoration: none;
                background-image:
                    linear-gradient(90deg, red, blue);
                background-size: 0% 3px;
                background-repeat: no-repeat;
                background-position: left 1.95em;
                padding-block: .35em;
                transition: background-size 500ms;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                line-height: 2;
            }
            .b1:hover,
            .b1 {
                background-size: 100% 3px;
            }
            .b2:hover,
            b2 {
                background-size: 100% 3px;
            }
            div.tussenstop {
                background: none;
                font-size: 50px
            }
            div.wonen {
                margin: 10px;
                padding: 10px;
            }
            div.vakanties {
                margin: 10px;
                padding: 10px;
            }
            div.werken {
                margin: 10px;
                padding: 10px;
            }
            div.tekst_picchu {
                background-image: url(images/Picchufoto.JPEG);
                background-size: cover;
                background-clip: text;
            }

            div.wachtwoord {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 100vh;
                background-color: pink;
            }

            .picchufotos .picchuknop {
                background-color: red;
                margin: 50px 0 0 600px;
                font-size: 3.5rem;
                box-shadow: 6px 6px blue;
                border-radius: 10px;
            }
            .picchufotos .picchuknop:hover {
                font-size: 4rem;
                background-color: #ffd633;
            }

            ul{
                margin: 0;
                padding: 0;
                list-style-type: none;
                color: white;
            }
            ul .logo {
                margin-top: 2px;
            }


            li {
                display: inline-block;
                margin-right: 20px;
                margin-top: 5px;
                color: white;
            }
            li:first-child {
                font-size: larger;
            }
            

            a {
                color: white;
                text-decoration: none;
                transition: font-weight 400ms;
            }
            a:active {
                font-weight: bolder;
                color: rgb(0, 17, 255);
            }
            a:hover {
                text-decoration: underline;
            }

            footer {
                background-color: pink;
                padding: 10px 20px;
            }
            section.pics {
                padding: 50px 0 0 0;
                box-shadow: black 10px 10px 10px;
            }

