            body {
                background-color: rgb(12, 12, 90);
                color: rgb(255, 255, 255);
                font-family: Arial, Helvetica, sans-serif;
                margin: 0;
                padding: 0;
            }
            header {
                background-color: rgb(100, 4, 14);
                background-position: center;
                background-size: 100%;
                height: 60px;
                padding: 30px 10px;
                color: rgb(255, 255, 255);
                text-align: center;
            }
            header .uitleg {
                color: rgb(179, 255, 0);
                position: relative;
                top: -90px;
                font-size: 40px;
            }
            header .logo a {
                background-image: url("images/nicolas-logo-png-transparent.png");
                background-size: 300px;
                position: relative;
                top: -130px;
                display: inline-block;
                width: 300px;
                height: 190px;
                text-indent: -9999px;
            }



            section.a {
                background-color: rgb(222, 130, 130);
                color: rgb(155, 166, 210);
                text-align: center;
                margin: 20px 10px 15px 10px;
                padding: 20px;
                display: flex;
                flex-direction: row;
                border-radius: 20px;
            }
            section.a2 {
                background-color: rgb(18, 159, 138);
                color: rgb(9, 34, 135);
                text-align: center;
                margin: 10px;
                padding: 40px;
                display: flex;
                flex-direction: row;
                border-radius: 20px;
            }
             section.tussenstop {
                background-color: white;
                color: black;
                margin: 25px 0px;
                padding: 27px;
                display: flex;
                flex-direction: row;
            }
            section.b {
                background-color: rgba(221, 180, 18, 0.866);
                color: rgb(9, 34, 135);
                text-align: center;
                margin: 10px;
                padding: 20px;
                display: flex;
                flex-direction: row;
                border-radius: 20px;
            }
            section.locaties_titel1 {
                padding: 0px 10px;
                margin: 40px 0px 0px 20px;
            }
            section.loca1 {
                background-color: rgb(147, 22, 22);
                border-radius: 15px;
                padding: 10px;
                margin: 0px 20px 10px 20px;
            }
            section.locaties_titel2 {
                padding: 120px 10px 0 0;
                margin: 0px 0px 0px 20px;
            }
            section.loca2 {
                background-color: rgb(22, 147, 141);
                color: rgb(255, 255, 255);
                border-radius: 25px;
                padding: 10px;
                margin: 0px 20px 10px 20px;
                display: flex;
                color: rgb(36, 13, 213);
            }

            section.loca2 .België {
                color: red;
            }
            section.loca2b {
                background-color: rgb(22, 147, 141);
                color: rgb(255, 255, 255);
                border-radius: 25px;
                padding: 10px;
                margin: 0px 20px 10px 20px;
                display: flex;
            }
            section.loca2c {
                background-color: rgb(22, 147, 141);
                color: rgb(255, 255, 255);
                border-radius: 25px;
                padding: 10px;
                margin: 0px 20px 10px 20px;
                display: flex;
            }
            section.loca2d {
                background-color: rgb(22, 147, 141);
                color: rgb(255, 255, 255);
                border-radius: 25px;
                padding: 10px;
                margin: 0px 20px 10px 20px;
                display: flex;
            }
            section.uitleg {
                color: white;
                position: relative;
                top: 140px;
                padding: 50px 50px 0 300px;
            }
            .loca2 figure {
                margin: auto;
                width: 200px;
            }
            .loca2b figure {
                margin: auto;
                width: 200px;
            }
            .loca2c figure {
                margin: auto;
                width: 200px;
            }
            .loca2d figure {
                margin: auto;
                width: 200px;
            }
            .loca2 figure img {
                width: 200px;
                border-radius: 25px;;
            }
             .loca2b figure img {
                width: 200px;
                border-radius: 25px;;
            }
               .loca2c figure img {
                width: 200px;
                border-radius: 25px;;
            }
               .loca2d figure img {
                width: 200px;
                border-radius: 25px;;
            }


            section.locaties_titel3 {
                padding: 80px 10px 0 0;
                margin: 0px 0px 0px 20px;
            }
            section.loca3 {
                background-color: rgb(30, 106, 8);
                border-radius: 15px;
                padding: 10px;
                margin: 0px 20px 50px 20px;
            }


            div.a {
                background: rgb(223, 74, 74);
                border-radius: 200px;
                margin: auto;
                width: 200px;
                height: auto;
            }
            div.a2 {
                background: rgb(48, 131, 9);
                border-radius: 200px;
                margin: auto;
                width: 200px;
                height: auto;
            }
            div.b1 {
                background: rgb(218, 154, 50);
                border-radius: 200px;
                margin: auto;
                width: 200px;
                height: auto;
            }
            div.tussenstop {
                background: none;
                font-size: 50px
            }
            div.wonen {
                margin: 10px;
                padding: 10px;
            }
            div.vakanties {
                margin: 10px;
                padding: 10px;
            }
            div.werken {
                margin: 10px;
                padding: 10px;
            }

            ul{
                margin: 0;
                padding: 0;
                list-style-type: none;
                color: white;
            }


            li {
                display: inline-block;
                margin-right: 20px;
                color: white;
            }
            li:first-child {
                font-size: larger;
            }


            a {
                color: white;
                text-decoration: none;
            }
            a:active {
                font-weight: bolder;
                color: rgb(0, 17, 255);
            }
            a:hover {
                text-decoration: underline;
            }

            footer {
                background-color: pink;
                padding: 10px 20px;
            }
            section.pics {
                padding: 50px 0 0 0;
                box-shadow: black 10px 10px 10px;
            }

